* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #2C4152;
    font-family: 'Baloo Bhaina', sans-serif;
}

.title {
    margin-top: 30px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 34px;
}

.container-game {
    width: 400px;
    margin: 20px auto;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


[draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: element;
    cursor: move;
}

.row {
    display: flex;
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: 38px;
    background: #D7D7B3;
    border: 1px solid #abab7c;
    color: #555A60;
    transition: transform 0.3s;
    user-select: none;
}
.cell.is-empty {
    font-size: 0;
    background: #c7c79d;
}
.cell.is-active {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.is-win .cell {
    background: #68985C;
    border: 1px solid #518046;
    color: #dcdcdc;
}

